section.text-gray-700.body-font.overflow-hidden
  .container.px-5.py-24.mx-auto
    .-my-8
      .py-8.flex.flex-wrap(class='md:flex-no-wrap')
        .mb-6.flex-shrink-0.flex.flex-col(class='md:w-64 md:mb-0')
          span.tracking-widest.font-medium.title-font.text-gray-900 CATEGORY
          span.mt-1.text-gray-500.text-sm 12 Jun 2019
        .(class='md:flex-grow')
          h2.text-2xl.font-medium.text-gray-900.title-font.mb-2 Bitters hashtag waistcoat fashion axe chia unicorn
          p.leading-relaxed
            | Glossier echo park pug, church-key sartorial biodiesel vexillologist pop-up snackwave ramps cornhole. Marfa 3 wolf moon party messenger bag selfies, poke vaporware kombucha lumbersexual pork belly polaroid hoodie portland craft beer.
          a.text-indigo-500.inline-flex.items-center.mt-4
            | Learn More
            svg.w-4.h-4.ml-2(viewbox='0 0 24 24' stroke='currentColor' stroke-width='2' fill='none' stroke-linecap='round' stroke-linejoin='round')
              path(d='M5 12h14')
              path(d='M12 5l7 7-7 7')
      .py-8.flex.border-t-2.border-gray-200.flex-wrap(class='md:flex-no-wrap')
        .mb-6.flex-shrink-0.flex.flex-col(class='md:w-64 md:mb-0')
          span.tracking-widest.font-medium.title-font.text-gray-900 CATEGORY
          span.mt-1.text-gray-500.text-sm 12 Jun 2019
        .(class='md:flex-grow')
          h2.text-2xl.font-medium.text-gray-900.title-font.mb-2 Meditation bushwick direct trade taxidermy shaman
          p.leading-relaxed
            | Glossier echo park pug, church-key sartorial biodiesel vexillologist pop-up snackwave ramps cornhole. Marfa 3 wolf moon party messenger bag selfies, poke vaporware kombucha lumbersexual pork belly polaroid hoodie portland craft beer.
          a.text-indigo-500.inline-flex.items-center.mt-4
            | Learn More
            svg.w-4.h-4.ml-2(viewbox='0 0 24 24' stroke='currentColor' stroke-width='2' fill='none' stroke-linecap='round' stroke-linejoin='round')
              path(d='M5 12h14')
              path(d='M12 5l7 7-7 7')
      .py-8.flex.border-t-2.border-gray-200.flex-wrap(class='md:flex-no-wrap')
        .mb-6.flex-shrink-0.flex.flex-col(class='md:w-64 md:mb-0')
          span.tracking-widest.font-medium.title-font.text-gray-900 CATEGORY
          span.mt-1.text-gray-500.text-sm 12 Jun 2019
        .(class='md:flex-grow')
          h2.text-2xl.font-medium.text-gray-900.title-font.mb-2 Woke master cleanse drinking vinegar salvia
          p.leading-relaxed
            | Glossier echo park pug, church-key sartorial biodiesel vexillologist pop-up snackwave ramps cornhole. Marfa 3 wolf moon party messenger bag selfies, poke vaporware kombucha lumbersexual pork belly polaroid hoodie portland craft beer.
          a.text-indigo-500.inline-flex.items-center.mt-4
            | Learn More
            svg.w-4.h-4.ml-2(viewbox='0 0 24 24' stroke='currentColor' stroke-width='2' fill='none' stroke-linecap='round' stroke-linejoin='round')
              path(d='M5 12h14')
              path(d='M12 5l7 7-7 7')