section.text-gray-700.body-font
  .container.px-5.py-24.mx-auto
    .flex.flex-wrap.-mx-4.-my-8
      .py-8.px-4(class='lg:w-1/3')
        .h-full.flex.items-start
          .w-12.flex-shrink-0.flex.flex-col.text-center.leading-none
            span.text-gray-500.pb-2.mb-2.border-b-2.border-gray-300 Jul
            span.font-medium.text-xl.text-gray-800.title-font 18
          .flex-grow.pl-6
            h2.tracking-widest.text-xs.title-font.font-medium.text-indigo-500.mb-1 CATEGORY
            h1.title-font.text-xl.font-medium.text-gray-900.mb-3 The 400 Blows
            p.leading-relaxed.mb-5
              | Photo booth fam kinfolk cold-pressed sriracha leggings jianbing microdosing tousled waistcoat.
            a.inline-flex.items-center
              img.w-8.h-8.rounded-full.flex-shrink-0.object-cover.object-center(alt='blog' src='https://dummyimage.com/103x103')
              span.flex-grow.flex.flex-col.pl-3
                span.title-font.font-medium.text-gray-900 Alper Kamu
      .py-8.px-4(class='lg:w-1/3')
        .h-full.flex.items-start
          .w-12.flex-shrink-0.flex.flex-col.text-center.leading-none
            span.text-gray-500.pb-2.mb-2.border-b-2.border-gray-300 Jul
            span.font-medium.text-xl.text-gray-800.title-font 18
          .flex-grow.pl-6
            h2.tracking-widest.text-xs.title-font.font-medium.text-indigo-500.mb-1 CATEGORY
            h1.title-font.text-xl.font-medium.text-gray-900.mb-3 Shooting Stars
            p.leading-relaxed.mb-5
              | Photo booth fam kinfolk cold-pressed sriracha leggings jianbing microdosing tousled waistcoat.
            a.inline-flex.items-center
              img.w-8.h-8.rounded-full.flex-shrink-0.object-cover.object-center(alt='blog' src='https://dummyimage.com/102x102')
              span.flex-grow.flex.flex-col.pl-3
                span.title-font.font-medium.text-gray-900 Holden Caulfield
      .py-8.px-4(class='lg:w-1/3')
        .h-full.flex.items-start
          .w-12.flex-shrink-0.flex.flex-col.text-center.leading-none
            span.text-gray-500.pb-2.mb-2.border-b-2.border-gray-300 Jul
            span.font-medium.text-xl.text-gray-800.title-font 18
          .flex-grow.pl-6
            h2.tracking-widest.text-xs.title-font.font-medium.text-indigo-500.mb-1 CATEGORY
            h1.title-font.text-xl.font-medium.text-gray-900.mb-3 Neptune
            p.leading-relaxed.mb-5
              | Photo booth fam kinfolk cold-pressed sriracha leggings jianbing microdosing tousled waistcoat.
            a.inline-flex.items-center
              img.w-8.h-8.rounded-full.flex-shrink-0.object-cover.object-center(alt='blog' src='https://dummyimage.com/101x101')
              span.flex-grow.flex.flex-col.pl-3
                span.title-font.font-medium.text-gray-900 Henry Letham