.container-sm.col-6.p-2    
  nav(aria-label='Breadcrumb')
    ol
      li.breadcrumb-item
        a(href='https://github.com/business') Business
      li.breadcrumb-item
        a(href='https://github.com/business/customers') Customers
      li.breadcrumb-item(aria-current='page') MailChimp