section.text-gray-700.body-font
  .container.px-5.py-24.mx-auto
    .flex.flex-wrap.-mx-4.-mb-10.text-center
      .mb-10.px-4(class='sm:w-1/2')
        .rounded-lg.h-64.overflow-hidden
          img.object-cover.object-center.h-full.w-full(alt='content' src='https://dummyimage.com/1201x501')
        h2.title-font.text-2xl.font-medium.text-gray-900.mt-6.mb-3 Buy YouTube Videos
        p.leading-relaxed.text-base
          | Williamsburg occupy sustainable snackwave gochujang. Pinterest cornhole brunch, slow-carb neutra irony.
        button.flex.mx-auto.mt-6.text-white.bg-indigo-500.border-0.py-2.px-5.rounded(class='focus:outline-none hover:bg-indigo-600') Button
      .mb-10.px-4(class='sm:w-1/2')
        .rounded-lg.h-64.overflow-hidden
          img.object-cover.object-center.h-full.w-full(alt='content' src='https://dummyimage.com/1202x502')
        h2.title-font.text-2xl.font-medium.text-gray-900.mt-6.mb-3 The Catalyzer
        p.leading-relaxed.text-base
          | Williamsburg occupy sustainable snackwave gochujang. Pinterest cornhole brunch, slow-carb neutra irony.
        button.flex.mx-auto.mt-6.text-white.bg-indigo-500.border-0.py-2.px-5.rounded(class='focus:outline-none hover:bg-indigo-600') Button
