section.text-gray-700.body-font
  .container.px-5.py-24.mx-auto
    .flex.flex-col.text-center.w-full.mb-20
      h2.text-xs.text-indigo-500.tracking-widest.font-medium.title-font.mb-1 ROOF PARTY POLAROID
      h1.text-2xl.font-medium.title-font.mb-4.text-gray-900(class='sm:text-3xl') Master Cleanse Reliac Heirloom
      p.mx-auto.leading-relaxed.text-base(class='lg:w-2/3')
        | Whatever cardigan tote bag tumblr hexagon brooklyn asymmetrical gentrify, subway tile poke farm-to-table. Franzen you probably haven&apos;t heard of them man bun deep jianbing selfies heirloom prism food truck ugh squid celiac humblebrag.
    .flex.flex-wrap
      .px-8.py-6.border-l-2.border-gray-200(class='xl:w-1/4 lg:w-1/2 md:w-full')
        h2.text-lg.text-gray-900.font-medium.title-font.mb-2(class='sm:text-xl') Shooting Stars
        p.leading-relaxed.text-base.mb-4
          | Fingerstache flexitarian street art 8-bit waistcoat. Distillery hexagon disrupt edison bulbche.
        a.text-indigo-500.inline-flex.items-center
          | Learn More
          svg.w-4.h-4.ml-2(fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' viewbox='0 0 24 24')
            path(d='M5 12h14M12 5l7 7-7 7')
      .px-8.py-6.border-l-2.border-gray-200(class='xl:w-1/4 lg:w-1/2 md:w-full')
        h2.text-lg.text-gray-900.font-medium.title-font.mb-2(class='sm:text-xl') The Catalyzer
        p.leading-relaxed.text-base.mb-4
          | Fingerstache flexitarian street art 8-bit waistcoat. Distillery hexagon disrupt edison bulbche.
        a.text-indigo-500.inline-flex.items-center
          | Learn More
          svg.w-4.h-4.ml-2(fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' viewbox='0 0 24 24')
            path(d='M5 12h14M12 5l7 7-7 7')
      .px-8.py-6.border-l-2.border-gray-200(class='xl:w-1/4 lg:w-1/2 md:w-full')
        h2.text-lg.text-gray-900.font-medium.title-font.mb-2(class='sm:text-xl') Neptune
        p.leading-relaxed.text-base.mb-4
          | Fingerstache flexitarian street art 8-bit waistcoat. Distillery hexagon disrupt edison bulbche.
        a.text-indigo-500.inline-flex.items-center
          | Learn More
          svg.w-4.h-4.ml-2(fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' viewbox='0 0 24 24')
            path(d='M5 12h14M12 5l7 7-7 7')
      .px-8.py-6.border-l-2.border-gray-200(class='xl:w-1/4 lg:w-1/2 md:w-full')
        h2.text-lg.text-gray-900.font-medium.title-font.mb-2(class='sm:text-xl') Melanchole
        p.leading-relaxed.text-base.mb-4
          | Fingerstache flexitarian street art 8-bit waistcoat. Distillery hexagon disrupt edison bulbche.
        a.text-indigo-500.inline-flex.items-center
          | Learn More
          svg.w-4.h-4.ml-2(fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' viewbox='0 0 24 24')
            path(d='M5 12h14M12 5l7 7-7 7')
    button.flex.mx-auto.mt-16.text-white.bg-indigo-500.border-0.py-2.px-8.rounded.text-lg(class='focus:outline-none hover:bg-indigo-600') Button