section.text-gray-700.body-font
  .container.px-5.py-24.mx-auto.flex.flex-wrap
    h2.text-2xl.text-gray-900.font-medium.title-font.mb-2(class='sm:text-3xl md:w-2/5') Kickstarter Actually Pinterest Brunch Bitters Occupy
    .(class='md:w-3/5 md:pl-6')
      p.leading-relaxed.text-base
        | Taxidermy bushwick celiac master cleanse microdosing seitan. Fashion axe four dollar toast truffaut, direct trade kombucha brunch williamsburg keffiyeh gastropub tousled squid meh taiyaki drinking vinegar tacos.
      .flex.mt-6(class='md:mt-4')
        button.inline-flex.text-white.bg-indigo-500.border-0.py-1.px-4.rounded(class='focus:outline-none hover:bg-indigo-600') Button
        a.text-indigo-500.inline-flex.items-center.ml-4
          | Learn More
          svg.w-4.h-4.ml-2(fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' viewbox='0 0 24 24')
            path(d='M5 12h14M12 5l7 7-7 7')