section.text-gray-700.body-font
  .container.px-5.py-24.mx-auto
    .flex.flex-col.items-start.mx-auto(class='lg:w-2/3 sm:flex-row sm:items-center')
      h1.flex-grow.text-2xl.font-medium.title-font.text-gray-900(class='sm:pr-16') Slow-carb next level shoindxgoitch ethical authentic, scenester sriracha forage.
      button.flex-shrink-0.text-white.bg-indigo-500.border-0.py-2.px-8.rounded.text-lg.mt-10(class='focus:outline-none hover:bg-indigo-600 sm:mt-0') Button
