section.text-gray-700.body-font
  .container.px-5.py-24.mx-auto
    .text-center.mb-20
      h1.text-2xl.font-medium.text-center.title-font.text-gray-900.mb-4(class='sm:text-3xl') Raw Denim Heirloom Man Braid
      p.text-base.leading-relaxed.mx-auto(class='xl:w-2/4 lg:w-3/4')
        | Blue bottle crucifix vinyl post-ironic four dollar toast vegan taxidermy. Gastropub indxgo juice poutine, ramps microdosing banh mi pug.
    .flex.flex-wrap.-m-4
      .p-4.w-full(class='lg:w-1/4 sm:w-1/2')
        h2.font-medium.title-font.tracking-widest.text-gray-900.mb-4.text-sm.text-center(class='sm:text-left') SHOOTING STARS
        nav.flex.flex-col.text-center.items-center.-mb-1(class='sm:items-start sm:text-left')
          a.mb-2
            span.bg-indigo-100.text-indigo-500.w-4.h-4.mr-2.rounded-full.inline-flex.items-center.justify-center
              svg.w-3.h-3(fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' viewbox='0 0 24 24')
                path(d='M20 6L9 17l-5-5')
            | First Link
          a.mb-2
            span.bg-indigo-100.text-indigo-500.w-4.h-4.mr-2.rounded-full.inline-flex.items-center.justify-center
              svg.w-3.h-3(fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' viewbox='0 0 24 24')
                path(d='M20 6L9 17l-5-5')
            | Second Link
          a.mb-2
            span.bg-indigo-100.text-indigo-500.w-4.h-4.mr-2.rounded-full.inline-flex.items-center.justify-center
              svg.w-3.h-3(fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' viewbox='0 0 24 24')
                path(d='M20 6L9 17l-5-5')
            | Third Link
          a.mb-2
            span.bg-indigo-100.text-indigo-500.w-4.h-4.mr-2.rounded-full.inline-flex.items-center.justify-center
              svg.w-3.h-3(fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' viewbox='0 0 24 24')
                path(d='M20 6L9 17l-5-5')
            | Fourth Link
          a.mb-2
            span.bg-indigo-100.text-indigo-500.w-4.h-4.mr-2.rounded-full.inline-flex.items-center.justify-center
              svg.w-3.h-3(fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' viewbox='0 0 24 24')
                path(d='M20 6L9 17l-5-5')
            | Fifth Link
      .p-4.w-full(class='lg:w-1/4 sm:w-1/2')
        h2.font-medium.title-font.tracking-widest.text-gray-900.mb-4.text-sm.text-center(class='sm:text-left') THE 400 BLOWS
        nav.flex.flex-col.text-center.items-center.-mb-1(class='sm:items-start sm:text-left')
          a.mb-2
            span.bg-indigo-100.text-indigo-500.w-4.h-4.mr-2.rounded-full.inline-flex.items-center.justify-center
              svg.w-3.h-3(fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' viewbox='0 0 24 24')
                path(d='M20 6L9 17l-5-5')
            | First Link
          a.mb-2
            span.bg-indigo-100.text-indigo-500.w-4.h-4.mr-2.rounded-full.inline-flex.items-center.justify-center
              svg.w-3.h-3(fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' viewbox='0 0 24 24')
                path(d='M20 6L9 17l-5-5')
            | Second Link
          a.mb-2
            span.bg-indigo-100.text-indigo-500.w-4.h-4.mr-2.rounded-full.inline-flex.items-center.justify-center
              svg.w-3.h-3(fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' viewbox='0 0 24 24')
                path(d='M20 6L9 17l-5-5')
            | Third Link
          a.mb-2
            span.bg-indigo-100.text-indigo-500.w-4.h-4.mr-2.rounded-full.inline-flex.items-center.justify-center
              svg.w-3.h-3(fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' viewbox='0 0 24 24')
                path(d='M20 6L9 17l-5-5')
            | Fourth Link
          a.mb-2
            span.bg-indigo-100.text-indigo-500.w-4.h-4.mr-2.rounded-full.inline-flex.items-center.justify-center
              svg.w-3.h-3(fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' viewbox='0 0 24 24')
                path(d='M20 6L9 17l-5-5')
            | Fifth Link
      .p-4.w-full(class='lg:w-1/4 sm:w-1/2')
        h2.font-medium.title-font.tracking-widest.text-gray-900.mb-4.text-sm.text-center(class='sm:text-left') THE CATALYZER
        nav.flex.flex-col.text-center.items-center.-mb-1(class='sm:items-start sm:text-left')
          a.mb-2
            span.bg-indigo-100.text-indigo-500.w-4.h-4.mr-2.rounded-full.inline-flex.items-center.justify-center
              svg.w-3.h-3(fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' viewbox='0 0 24 24')
                path(d='M20 6L9 17l-5-5')
            | First Link
          a.mb-2
            span.bg-indigo-100.text-indigo-500.w-4.h-4.mr-2.rounded-full.inline-flex.items-center.justify-center
              svg.w-3.h-3(fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' viewbox='0 0 24 24')
                path(d='M20 6L9 17l-5-5')
            | Second Link
          a.mb-2
            span.bg-indigo-100.text-indigo-500.w-4.h-4.mr-2.rounded-full.inline-flex.items-center.justify-center
              svg.w-3.h-3(fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' viewbox='0 0 24 24')
                path(d='M20 6L9 17l-5-5')
            | Third Link
          a.mb-2
            span.bg-indigo-100.text-indigo-500.w-4.h-4.mr-2.rounded-full.inline-flex.items-center.justify-center
              svg.w-3.h-3(fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' viewbox='0 0 24 24')
                path(d='M20 6L9 17l-5-5')
            | Fourth Link
          a.mb-2
            span.bg-indigo-100.text-indigo-500.w-4.h-4.mr-2.rounded-full.inline-flex.items-center.justify-center
              svg.w-3.h-3(fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' viewbox='0 0 24 24')
                path(d='M20 6L9 17l-5-5')
            | Fifth Link
      .p-4.w-full(class='lg:w-1/4 sm:w-1/2')
        h2.font-medium.title-font.tracking-widest.text-gray-900.mb-4.text-sm.text-center(class='sm:text-left') NEPTUNE
        nav.flex.flex-col.text-center.items-center.-mb-1(class='sm:items-start sm:text-left')
          a.mb-2
            span.bg-indigo-100.text-indigo-500.w-4.h-4.mr-2.rounded-full.inline-flex.items-center.justify-center
              svg.w-3.h-3(fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' viewbox='0 0 24 24')
                path(d='M20 6L9 17l-5-5')
            | First Link
          a.mb-2
            span.bg-indigo-100.text-indigo-500.w-4.h-4.mr-2.rounded-full.inline-flex.items-center.justify-center
              svg.w-3.h-3(fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' viewbox='0 0 24 24')
                path(d='M20 6L9 17l-5-5')
            | Second Link
          a.mb-2
            span.bg-indigo-100.text-indigo-500.w-4.h-4.mr-2.rounded-full.inline-flex.items-center.justify-center
              svg.w-3.h-3(fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' viewbox='0 0 24 24')
                path(d='M20 6L9 17l-5-5')
            | Third Link
          a.mb-2
            span.bg-indigo-100.text-indigo-500.w-4.h-4.mr-2.rounded-full.inline-flex.items-center.justify-center
              svg.w-3.h-3(fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' viewbox='0 0 24 24')
                path(d='M20 6L9 17l-5-5')
            | Fourth Link
          a.mb-2
            span.bg-indigo-100.text-indigo-500.w-4.h-4.mr-2.rounded-full.inline-flex.items-center.justify-center
              svg.w-3.h-3(fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' viewbox='0 0 24 24')
                path(d='M20 6L9 17l-5-5')
            | Fifth Link
    button.flex.mx-auto.mt-16.text-white.bg-indigo-500.border-0.py-2.px-8.rounded.text-lg(class='focus:outline-none hover:bg-indigo-600') Button