section.text-gray-700.body-font
  .container.px-5.py-24.mx-auto
    .text-center.mb-20
      h1.text-2xl.font-medium.text-center.title-font.text-gray-900.mb-4(class='sm:text-3xl') Raw Denim Heirloom Man Braid
      p.text-base.leading-relaxed.mx-auto(class='xl:w-2/4 lg:w-3/4')
        | Blue bottle crucifix vinyl post-ironic four dollar toast vegan taxidermy. Gastropub indxgo juice poutine, ramps microdosing banh mi pug.
    .flex.flex-wrap.-mx-2(class='lg:w-4/5 sm:mx-auto sm:mb-2')
      .p-2.w-full(class='sm:w-1/2')
        .bg-gray-200.rounded.flex.p-4.h-full.items-center
          svg.text-indigo-500.w-6.h-6.flex-shrink-0.mr-4(fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' viewbox='0 0 24 24')
            path(d='M22 11.08V12a10 10 0 11-5.93-9.14')
            path(d='M22 4L12 14.01l-3-3')
          span.title-font.font-medium Authentic Cliche Forage
      .p-2.w-full(class='sm:w-1/2')
        .bg-gray-200.rounded.flex.p-4.h-full.items-center
          svg.text-indigo-500.w-6.h-6.flex-shrink-0.mr-4(fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' viewbox='0 0 24 24')
            path(d='M22 11.08V12a10 10 0 11-5.93-9.14')
            path(d='M22 4L12 14.01l-3-3')
          span.title-font.font-medium Kinfolk Chips Snackwave
      .p-2.w-full(class='sm:w-1/2')
        .bg-gray-200.rounded.flex.p-4.h-full.items-center
          svg.text-indigo-500.w-6.h-6.flex-shrink-0.mr-4(fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' viewbox='0 0 24 24')
            path(d='M22 11.08V12a10 10 0 11-5.93-9.14')
            path(d='M22 4L12 14.01l-3-3')
          span.title-font.font-medium Coloring Book Ethical
      .p-2.w-full(class='sm:w-1/2')
        .bg-gray-200.rounded.flex.p-4.h-full.items-center
          svg.text-indigo-500.w-6.h-6.flex-shrink-0.mr-4(fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' viewbox='0 0 24 24')
            path(d='M22 11.08V12a10 10 0 11-5.93-9.14')
            path(d='M22 4L12 14.01l-3-3')
          span.title-font.font-medium Typewriter Polaroid Cray
      .p-2.w-full(class='sm:w-1/2')
        .bg-gray-200.rounded.flex.p-4.h-full.items-center
          svg.text-indigo-500.w-6.h-6.flex-shrink-0.mr-4(fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' viewbox='0 0 24 24')
            path(d='M22 11.08V12a10 10 0 11-5.93-9.14')
            path(d='M22 4L12 14.01l-3-3')
          span.title-font.font-medium Pack Truffaut Blue
      .p-2.w-full(class='sm:w-1/2')
        .bg-gray-200.rounded.flex.p-4.h-full.items-center
          svg.text-indigo-500.w-6.h-6.flex-shrink-0.mr-4(fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' viewbox='0 0 24 24')
            path(d='M22 11.08V12a10 10 0 11-5.93-9.14')
            path(d='M22 4L12 14.01l-3-3')
          span.title-font.font-medium The Catcher In The Rye
    button.flex.mx-auto.mt-16.text-white.bg-indigo-500.border-0.py-2.px-8.rounded.text-lg(class='focus:outline-none hover:bg-indigo-600') Button