section.text-gray-700.body-font
  .container.px-5.py-24.mx-auto.flex.flex-wrap
    .flex.flex-wrap.-m-4
      .p-4(class='lg:w-1/2 md:w-full')
        .flex.border-2.rounded-lg.border-gray-200.p-8.flex-col(class='sm:flex-row')
          .w-16.h-16.mb-4.inline-flex.items-center.justify-center.rounded-full.bg-indigo-100.text-indigo-500.flex-shrink-0(class='sm:mr-8 sm:mb-0')
            svg.w-8.h-8(fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' viewbox='0 0 24 24')
              path(d='M22 12h-4l-3 9L9 3l-3 9H2')
          .flex-grow
            h2.text-gray-900.text-lg.title-font.font-medium.mb-3 Shooting Stars
            p.leading-relaxed.text-base
              | Blue bottle crucifix vinyl post-ironic four dollar toast vegan taxidermy. Gastropub indxgo juice poutine.
            a.mt-3.text-indigo-500.inline-flex.items-center
              | Learn More
              svg.w-4.h-4.ml-2(fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' viewbox='0 0 24 24')
                path(d='M5 12h14M12 5l7 7-7 7')
      .p-4(class='lg:w-1/2 md:w-full')
        .flex.border-2.rounded-lg.border-gray-200.p-8.flex-col(class='sm:flex-row')
          .w-16.h-16.mb-4.inline-flex.items-center.justify-center.rounded-full.bg-indigo-100.text-indigo-500.flex-shrink-0(class='sm:mr-8 sm:mb-0')
            svg.w-10.h-10(fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' viewbox='0 0 24 24')
              path(d='M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2')
              circle(cx='12' cy='7' r='4')
          .flex-grow
            h2.text-gray-900.text-lg.title-font.font-medium.mb-3 The Catalyzer
            p.leading-relaxed.text-base
              | Blue bottle crucifix vinyl post-ironic four dollar toast vegan taxidermy. Gastropub indxgo juice poutine.
            a.mt-3.text-indigo-500.inline-flex.items-center
              | Learn More
              svg.w-4.h-4.ml-2(fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' viewbox='0 0 24 24')
                path(d='M5 12h14M12 5l7 7-7 7')