footer.text-gray-700.body-font
  .container.px-5.py-24.mx-auto
    .flex.flex-wrap.text-center.-mb-10.-mx-4(class='md:text-left')
      .w-full.px-4(class='lg:w-1/6 md:w-1/2')
        h2.title-font.font-medium.text-gray-900.tracking-widest.text-sm.mb-3 CATEGORIES
        nav.list-none.mb-10
          li
            a.text-gray-600(class='hover:text-gray-800') First Link
          li
            a.text-gray-600(class='hover:text-gray-800') Second Link
          li
            a.text-gray-600(class='hover:text-gray-800') Third Link
          li
            a.text-gray-600(class='hover:text-gray-800') Fourth Link
      .w-full.px-4(class='lg:w-1/6 md:w-1/2')
        h2.title-font.font-medium.text-gray-900.tracking-widest.text-sm.mb-3 CATEGORIES
        nav.list-none.mb-10
          li
            a.text-gray-600(class='hover:text-gray-800') First Link
          li
            a.text-gray-600(class='hover:text-gray-800') Second Link
          li
            a.text-gray-600(class='hover:text-gray-800') Third Link
          li
            a.text-gray-600(class='hover:text-gray-800') Fourth Link
      .w-full.px-4(class='lg:w-1/6 md:w-1/2')
        h2.title-font.font-medium.text-gray-900.tracking-widest.text-sm.mb-3 CATEGORIES
        nav.list-none.mb-10
          li
            a.text-gray-600(class='hover:text-gray-800') First Link
          li
            a.text-gray-600(class='hover:text-gray-800') Second Link
          li
            a.text-gray-600(class='hover:text-gray-800') Third Link
          li
            a.text-gray-600(class='hover:text-gray-800') Fourth Link
      .w-full.px-4(class='lg:w-1/6 md:w-1/2')
        h2.title-font.font-medium.text-gray-900.tracking-widest.text-sm.mb-3 CATEGORIES
        nav.list-none.mb-10
          li
            a.text-gray-600(class='hover:text-gray-800') First Link
          li
            a.text-gray-600(class='hover:text-gray-800') Second Link
          li
            a.text-gray-600(class='hover:text-gray-800') Third Link
          li
            a.text-gray-600(class='hover:text-gray-800') Fourth Link
      .w-full.px-4(class='lg:w-1/6 md:w-1/2')
        h2.title-font.font-medium.text-gray-900.tracking-widest.text-sm.mb-3 CATEGORIES
        nav.list-none.mb-10
          li
            a.text-gray-600(class='hover:text-gray-800') First Link
          li
            a.text-gray-600(class='hover:text-gray-800') Second Link
          li
            a.text-gray-600(class='hover:text-gray-800') Third Link
          li
            a.text-gray-600(class='hover:text-gray-800') Fourth Link
      .w-full.px-4(class='lg:w-1/6 md:w-1/2')
        h2.title-font.font-medium.text-gray-900.tracking-widest.text-sm.mb-3 CATEGORIES
        nav.list-none.mb-10
          li
            a.text-gray-600(class='hover:text-gray-800') First Link
          li
            a.text-gray-600(class='hover:text-gray-800') Second Link
          li
            a.text-gray-600(class='hover:text-gray-800') Third Link
          li
            a.text-gray-600(class='hover:text-gray-800') Fourth Link
  .border-t.border-gray-200
    .container.px-5.py-8.flex.flex-wrap.mx-auto.items-center
      .flex.flex-wrap.justify-center(class='md:flex-no-wrap md:justify-start')
        input.w-40.bg-gray-100.rounded.mr-2.border.border-gray-400.text-base.py-2.px-4(class='sm:w-64 sm:mr-4 focus:outline-none focus:border-indigo-500' placeholder='Placeholder' type='text')
        button.inline-flex.text-white.bg-indigo-500.border-0.py-2.px-6.rounded(class='focus:outline-none hover:bg-indigo-600') Button
        p.text-gray-500.text-sm.mt-2.text-center(class='md:ml-6 md:mt-0 sm:text-left')
          | Bitters chicharrones fanny pack
          br.hidden(class='lg:block')
          | waistcoat green juice
      span.inline-flex.mt-6.w-full.justify-center(class='lg:ml-auto lg:mt-0 md:justify-start md:w-auto')
        a.text-gray-500
          svg.w-5.h-5(fill='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' viewbox='0 0 24 24')
            path(d='M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z')
        a.ml-3.text-gray-500
          svg.w-5.h-5(fill='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' viewbox='0 0 24 24')
            path(d='M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z')
        a.ml-3.text-gray-500
          svg.w-5.h-5(fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' viewbox='0 0 24 24')
            rect(width='20' height='20' x='2' y='2' rx='5' ry='5')
            path(d='M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01')
        a.ml-3.text-gray-500
          svg.w-5.h-5(fill='currentColor' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='0' viewbox='0 0 24 24')
            path(stroke='none' d='M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z')
            circle(cx='4' cy='4' r='2' stroke='none')
  .bg-gray-200
    .container.mx-auto.py-4.px-5.flex.flex-wrap.flex-col(class='sm:flex-row')
      p.text-gray-500.text-sm.text-center(class='sm:text-left')
        | &copy; 2020 tailblocks &mdash;
        a.text-gray-600.ml-1(href='https://twitter.com/knyttneve' target='_blank' rel='noopener noreferrer') @knyttneve
      span.mt-2.w-full.text-center.text-gray-500.text-sm(class='sm:ml-auto sm:mt-0 sm:w-auto sm:text-left') Enamel pin tousled raclette tacos irony