section.text-gray-700.body-font
  .container.px-5.py-24.mx-auto.flex.flex-wrap
    .flex.w-full.mb-20.flex-wrap
      h1.text-2xl.font-medium.title-font.text-gray-900.mb-4(class='sm:text-3xl lg:w-1/3 lg:mb-0') Master Cleanse Reliac Heirloom
      p.mx-auto.leading-relaxed.text-base(class='lg:pl-6 lg:w-2/3')
        | Whatever cardigan tote bag tumblr hexagon brooklyn asymmetrical gentrify, subway tile poke farm-to-table. Franzen you probably haven&apos;t heard of them man bun deep jianbing selfies heirloom.
    .flex.flex-wrap.-m-1(class='md:-m-2')
      .flex.flex-wrap(class='w-1/2')
        .p-1(class='md:p-2 w-1/2')
          img.w-full.object-cover.h-full.object-center.block(alt='gallery' src='https://dummyimage.com/500x300')
        .p-1(class='md:p-2 w-1/2')
          img.w-full.object-cover.h-full.object-center.block(alt='gallery' src='https://dummyimage.com/501x301')
        .p-1.w-full(class='md:p-2')
          img.w-full.h-full.object-cover.object-center.block(alt='gallery' src='https://dummyimage.com/600x360')
      .flex.flex-wrap(class='w-1/2')
        .p-1.w-full(class='md:p-2')
          img.w-full.h-full.object-cover.object-center.block(alt='gallery' src='https://dummyimage.com/601x361')
        .p-1(class='md:p-2 w-1/2')
          img.w-full.object-cover.h-full.object-center.block(alt='gallery' src='https://dummyimage.com/502x302')
        .p-1(class='md:p-2 w-1/2')
          img.w-full.object-cover.h-full.object-center.block(alt='gallery' src='https://dummyimage.com/503x303')
