section.text-gray-700.body-font
  .container.px-5.py-24.mx-auto
    .flex.flex-col.text-center.w-full.mb-20
      h1.text-2xl.font-medium.title-font.mb-4.text-gray-900(class='sm:text-3xl') Master Cleanse Reliac Heirloom
      p.mx-auto.leading-relaxed.text-base(class='lg:w-2/3')
        | Whatever cardigan tote bag tumblr hexagon brooklyn asymmetrical gentrify, subway tile poke farm-to-table. Franzen you probably haven&apos;t heard of them man bun deep jianbing selfies heirloom.
    .flex.flex-wrap.-m-4
      .p-4(class='lg:w-1/3 sm:w-1/2')
        .flex.relative
          img.absolute.inset-0.w-full.h-full.object-cover.object-center(alt='gallery' src='https://dummyimage.com/600x360')
          .px-8.py-10.relative.z-10.w-full.border-4.border-gray-200.bg-white.opacity-0(class='hover:opacity-100')
            h2.tracking-widest.text-sm.title-font.font-medium.text-indigo-500.mb-1 THE SUBTITLE
            h1.title-font.text-lg.font-medium.text-gray-900.mb-3 Shooting Stars
            p.leading-relaxed
              | Photo booth fam kinfolk cold-pressed sriracha leggings jianbing microdosing tousled waistcoat.
      .p-4(class='lg:w-1/3 sm:w-1/2')
        .flex.relative
          img.absolute.inset-0.w-full.h-full.object-cover.object-center(alt='gallery' src='https://dummyimage.com/601x361')
          .px-8.py-10.relative.z-10.w-full.border-4.border-gray-200.bg-white.opacity-0(class='hover:opacity-100')
            h2.tracking-widest.text-sm.title-font.font-medium.text-indigo-500.mb-1 THE SUBTITLE
            h1.title-font.text-lg.font-medium.text-gray-900.mb-3 The Catalyzer
            p.leading-relaxed
              | Photo booth fam kinfolk cold-pressed sriracha leggings jianbing microdosing tousled waistcoat.
      .p-4(class='lg:w-1/3 sm:w-1/2')
        .flex.relative
          img.absolute.inset-0.w-full.h-full.object-cover.object-center(alt='gallery' src='https://dummyimage.com/603x363')
          .px-8.py-10.relative.z-10.w-full.border-4.border-gray-200.bg-white.opacity-0(class='hover:opacity-100')
            h2.tracking-widest.text-sm.title-font.font-medium.text-indigo-500.mb-1 THE SUBTITLE
            h1.title-font.text-lg.font-medium.text-gray-900.mb-3 The 400 Blows
            p.leading-relaxed
              | Photo booth fam kinfolk cold-pressed sriracha leggings jianbing microdosing tousled waistcoat.
      .p-4(class='lg:w-1/3 sm:w-1/2')
        .flex.relative
          img.absolute.inset-0.w-full.h-full.object-cover.object-center(alt='gallery' src='https://dummyimage.com/602x362')
          .px-8.py-10.relative.z-10.w-full.border-4.border-gray-200.bg-white.opacity-0(class='hover:opacity-100')
            h2.tracking-widest.text-sm.title-font.font-medium.text-indigo-500.mb-1 THE SUBTITLE
            h1.title-font.text-lg.font-medium.text-gray-900.mb-3 Neptune
            p.leading-relaxed
              | Photo booth fam kinfolk cold-pressed sriracha leggings jianbing microdosing tousled waistcoat.
      .p-4(class='lg:w-1/3 sm:w-1/2')
        .flex.relative
          img.absolute.inset-0.w-full.h-full.object-cover.object-center(alt='gallery' src='https://dummyimage.com/605x365')
          .px-8.py-10.relative.z-10.w-full.border-4.border-gray-200.bg-white.opacity-0(class='hover:opacity-100')
            h2.tracking-widest.text-sm.title-font.font-medium.text-indigo-500.mb-1 THE SUBTITLE
            h1.title-font.text-lg.font-medium.text-gray-900.mb-3 Holden Caulfield
            p.leading-relaxed
              | Photo booth fam kinfolk cold-pressed sriracha leggings jianbing microdosing tousled waistcoat.
      .p-4(class='lg:w-1/3 sm:w-1/2')
        .flex.relative
          img.absolute.inset-0.w-full.h-full.object-cover.object-center(alt='gallery' src='https://dummyimage.com/606x366')
          .px-8.py-10.relative.z-10.w-full.border-4.border-gray-200.bg-white.opacity-0(class='hover:opacity-100')
            h2.tracking-widest.text-sm.title-font.font-medium.text-indigo-500.mb-1 THE SUBTITLE
            h1.title-font.text-lg.font-medium.text-gray-900.mb-3 Alper Kamu
            p.leading-relaxed
              | Photo booth fam kinfolk cold-pressed sriracha leggings jianbing microdosing tousled waistcoat.