section.text-gray-700.body-font
  .container.px-5.py-24.mx-auto.flex.flex-wrap
    .mx-auto(class='lg:w-2/3')
      .flex.flex-wrap.w-full.bg-gray-100.py-32.px-10.relative.mb-4
        img.w-full.object-cover.h-full.object-center.block.opacity-25.absolute.inset-0(alt='gallery' src='https://dummyimage.com/820x340')
        .text-center.relative.z-10.w-full
          h2.text-2xl.text-gray-900.font-medium.title-font.mb-2 Shooting Stars
          p.leading-relaxed Skateboard +1 mustache fixie paleo lumbersexual.
          a.mt-3.text-indigo-500.inline-flex.items-center
            | Learn More
            svg.w-4.h-4.ml-2(fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' viewbox='0 0 24 24')
              path(d='M5 12h14M12 5l7 7-7 7')
      .flex.flex-wrap.-mx-2
        .px-2(class='w-1/2')
          .flex.flex-wrap.w-full.bg-gray-100.py-16.px-6.relative(class='sm:py-24 sm:px-10')
            img.w-full.object-cover.h-full.object-center.block.opacity-25.absolute.inset-0(alt='gallery' src='https://dummyimage.com/542x460')
            .text-center.relative.z-10.w-full
              h2.text-xl.text-gray-900.font-medium.title-font.mb-2 Shooting Stars
              p.leading-relaxed Skateboard +1 mustache fixie paleo lumbersexual.
              a.mt-3.text-indigo-500.inline-flex.items-center
                | Learn More
                svg.w-4.h-4.ml-2(fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' viewbox='0 0 24 24')
                  path(d='M5 12h14M12 5l7 7-7 7')
        .px-2(class='w-1/2')
          .flex.flex-wrap.w-full.bg-gray-100.py-16.px-6.relative(class='sm:py-24 sm:px-10')
            img.w-full.object-cover.h-full.object-center.block.opacity-25.absolute.inset-0(alt='gallery' src='https://dummyimage.com/542x420')
            .text-center.relative.z-10.w-full
              h2.text-xl.text-gray-900.font-medium.title-font.mb-2 Shooting Stars
              p.leading-relaxed Skateboard +1 mustache fixie paleo lumbersexual.
              a.mt-3.text-indigo-500.inline-flex.items-center
                | Learn More
                svg.w-4.h-4.ml-2(fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' viewbox='0 0 24 24')
                  path(d='M5 12h14M12 5l7 7-7 7')