- var site =  vars.site

head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  title #{ site.title }
  meta(name='viewport' content='width=device-width')
  meta(name='description' content='{{ site.description }}')
  link(rel='stylesheet' href= 'css/style.css' )
  link(rel='stylesheet' href= 'https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css' )


