section.text-gray-700.body-font
  .container.px-5.py-24.mx-auto
    .flex.flex-col.text-center.w-full.mb-20
      h1.text-3xl.font-medium.title-font.mb-2.text-gray-900(class='sm:text-4xl') Pricing
      p.mx-auto.leading-relaxed.text-base(class='lg:w-2/3')
        | Banh mi cornhole echo park skateboard authentic crucifix neutra tilde lyft biodiesel artisan direct trade mumblecore 3 wolf moon twee
    .w-full.mx-auto.overflow-auto(class='lg:w-2/3')
      table.table-auto.w-full.text-left.whitespace-no-wrap
        thead
          tr
            th.px-4.py-3.title-font.tracking-wider.font-medium.text-gray-900.text-sm.bg-gray-200.rounded-tl.rounded-bl Plan
            th.px-4.py-3.title-font.tracking-wider.font-medium.text-gray-900.text-sm.bg-gray-200 Speed
            th.px-4.py-3.title-font.tracking-wider.font-medium.text-gray-900.text-sm.bg-gray-200 Storage
            th.px-4.py-3.title-font.tracking-wider.font-medium.text-gray-900.text-sm.bg-gray-200 Price
            th.w-10.title-font.tracking-wider.font-medium.text-gray-900.text-sm.bg-gray-200.rounded-tr.rounded-br
        tbody
          tr
            td.px-4.py-3 Start
            td.px-4.py-3 5 Mb/s
            td.px-4.py-3 15 GB
            td.px-4.py-3.text-lg.text-gray-900 Free
            td.w-10.text-center
              input(name='plan' type='radio')
          tr
            td.border-t-2.border-gray-200.px-4.py-3 Pro
            td.border-t-2.border-gray-200.px-4.py-3 25 Mb/s
            td.border-t-2.border-gray-200.px-4.py-3 25 GB
            td.border-t-2.border-gray-200.px-4.py-3.text-lg.text-gray-900 $24
            td.border-t-2.border-gray-200.w-10.text-center
              input(name='plan' type='radio')
          tr
            td.border-t-2.border-gray-200.px-4.py-3 Business
            td.border-t-2.border-gray-200.px-4.py-3 36 Mb/s
            td.border-t-2.border-gray-200.px-4.py-3 40 GB
            td.border-t-2.border-gray-200.px-4.py-3.text-lg.text-gray-900 $50
            td.border-t-2.border-gray-200.w-10.text-center
              input(name='plan' type='radio')
          tr
            td.border-t-2.border-b-2.border-gray-200.px-4.py-3 Exclusive
            td.border-t-2.border-b-2.border-gray-200.px-4.py-3 48 Mb/s
            td.border-t-2.border-b-2.border-gray-200.px-4.py-3 120 GB
            td.border-t-2.border-b-2.border-gray-200.px-4.py-3.text-lg.text-gray-900 $72
            td.border-t-2.border-b-2.border-gray-200.w-10.text-center
              input(name='plan' type='radio')
    .flex.pl-4.mt-4.w-full.mx-auto(class='lg:w-2/3')
      a.text-indigo-500.inline-flex.items-center(class='md:mb-2 lg:mb-0')
        | Learn More
        svg.w-4.h-4.ml-2(fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' viewbox='0 0 24 24')
          path(d='M5 12h14M12 5l7 7-7 7')
      button.flex.ml-auto.text-white.bg-indigo-500.border-0.py-2.px-6.rounded(class='focus:outline-none hover:bg-indigo-600') Button