section.text-gray-700.body-font.overflow-hidden
  .container.px-5.py-24.mx-auto
    .flex.flex-col.text-center.w-full.mb-20
      h1.text-3xl.font-medium.title-font.mb-2.text-gray-900(class='sm:text-4xl') Pricing
      p.mx-auto.leading-relaxed.text-base(class='lg:w-2/3') Whatever cardigan tote bag tumblr hexagon brooklyn asymmetrical.
      .flex.mx-auto.border-2.border-indigo-500.rounded.overflow-hidden.mt-6
        button.py-1.px-4.bg-indigo-500.text-white(class='focus:outline-none') Monthly
        button.py-1.px-4(class='focus:outline-none') Annually
    .flex.flex-wrap.-m-4
      .p-4.w-full(class='xl:w-1/4 md:w-1/2')
        .h-full.p-6.rounded-lg.border-2.border-gray-300.flex.flex-col.relative.overflow-hidden
          h2.text-sm.tracking-widest.title-font.mb-1.font-medium START
          h1.text-5xl.text-gray-900.pb-4.mb-4.border-b.border-gray-200.leading-none Free
          p.flex.items-center.text-gray-600.mb-2
            span.w-4.h-4.mr-2.inline-flex.items-center.justify-center.bg-gray-500.text-white.rounded-full.flex-shrink-0
              svg.w-3.h-3(fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2.5' viewbox='0 0 24 24')
                path(d='M20 6L9 17l-5-5')
            | Vexillologist pitchfork
          p.flex.items-center.text-gray-600.mb-2
            span.w-4.h-4.mr-2.inline-flex.items-center.justify-center.bg-gray-500.text-white.rounded-full.flex-shrink-0
              svg.w-3.h-3(fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2.5' viewbox='0 0 24 24')
                path(d='M20 6L9 17l-5-5')
            | Tumeric plaid portland
          p.flex.items-center.text-gray-600.mb-6
            span.w-4.h-4.mr-2.inline-flex.items-center.justify-center.bg-gray-500.text-white.rounded-full.flex-shrink-0
              svg.w-3.h-3(fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2.5' viewbox='0 0 24 24')
                path(d='M20 6L9 17l-5-5')
            | Mixtape chillwave tumeric
          button.flex.items-center.mt-auto.text-white.bg-gray-500.border-0.py-2.px-4.w-full.rounded(class='focus:outline-none hover:bg-gray-600')
            | Button
            svg.w-4.h-4.ml-auto(fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' viewbox='0 0 24 24')
              path(d='M5 12h14M12 5l7 7-7 7')
          p.text-xs.text-gray-500.mt-3 Literally you probably haven&apos;t heard of them jean shorts.
      .p-4.w-full(class='xl:w-1/4 md:w-1/2')
        .h-full.p-6.rounded-lg.border-2.border-indigo-500.flex.flex-col.relative.overflow-hidden
          span.bg-indigo-500.text-white.px-3.py-1.tracking-widest.text-xs.absolute.right-0.top-0.rounded-bl POPULAR
          h2.text-sm.tracking-widest.title-font.mb-1.font-medium PRO
          h1.text-5xl.text-gray-900.leading-none.flex.items-center.pb-4.mb-4.border-b.border-gray-200
            span $38
            span.text-lg.ml-1.font-normal.text-gray-500 /mo
          p.flex.items-center.text-gray-600.mb-2
            span.w-4.h-4.mr-2.inline-flex.items-center.justify-center.bg-gray-500.text-white.rounded-full.flex-shrink-0
              svg.w-3.h-3(fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2.5' viewbox='0 0 24 24')
                path(d='M20 6L9 17l-5-5')
            | Vexillologist pitchfork
          p.flex.items-center.text-gray-600.mb-2
            span.w-4.h-4.mr-2.inline-flex.items-center.justify-center.bg-gray-500.text-white.rounded-full.flex-shrink-0
              svg.w-3.h-3(fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2.5' viewbox='0 0 24 24')
                path(d='M20 6L9 17l-5-5')
            | Tumeric plaid portland
          p.flex.items-center.text-gray-600.mb-2
            span.w-4.h-4.mr-2.inline-flex.items-center.justify-center.bg-gray-500.text-white.rounded-full.flex-shrink-0
              svg.w-3.h-3(fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2.5' viewbox='0 0 24 24')
                path(d='M20 6L9 17l-5-5')
            | Hexagon neutra unicorn
          p.flex.items-center.text-gray-600.mb-6
            span.w-4.h-4.mr-2.inline-flex.items-center.justify-center.bg-gray-500.text-white.rounded-full.flex-shrink-0
              svg.w-3.h-3(fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2.5' viewbox='0 0 24 24')
                path(d='M20 6L9 17l-5-5')
            | Mixtape chillwave tumeric
          button.flex.items-center.mt-auto.text-white.bg-indigo-500.border-0.py-2.px-4.w-full.rounded(class='focus:outline-none hover:bg-indigo-600')
            | Button
            svg.w-4.h-4.ml-auto(fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' viewbox='0 0 24 24')
              path(d='M5 12h14M12 5l7 7-7 7')
          p.text-xs.text-gray-500.mt-3 Literally you probably haven&apos;t heard of them jean shorts.
      .p-4.w-full(class='xl:w-1/4 md:w-1/2')
        .h-full.p-6.rounded-lg.border-2.border-gray-300.flex.flex-col.relative.overflow-hidden
          h2.text-sm.tracking-widest.title-font.mb-1.font-medium BUSINESS
          h1.text-5xl.text-gray-900.leading-none.flex.items-center.pb-4.mb-4.border-b.border-gray-200
            span $56
            span.text-lg.ml-1.font-normal.text-gray-500 /mo
          p.flex.items-center.text-gray-600.mb-2
            span.w-4.h-4.mr-2.inline-flex.items-center.justify-center.bg-gray-500.text-white.rounded-full.flex-shrink-0
              svg.w-3.h-3(fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2.5' viewbox='0 0 24 24')
                path(d='M20 6L9 17l-5-5')
            | Vexillologist pitchfork
          p.flex.items-center.text-gray-600.mb-2
            span.w-4.h-4.mr-2.inline-flex.items-center.justify-center.bg-gray-500.text-white.rounded-full.flex-shrink-0
              svg.w-3.h-3(fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2.5' viewbox='0 0 24 24')
                path(d='M20 6L9 17l-5-5')
            | Tumeric plaid portland
          p.flex.items-center.text-gray-600.mb-2
            span.w-4.h-4.mr-2.inline-flex.items-center.justify-center.bg-gray-500.text-white.rounded-full.flex-shrink-0
              svg.w-3.h-3(fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2.5' viewbox='0 0 24 24')
                path(d='M20 6L9 17l-5-5')
            | Hexagon neutra unicorn
          p.flex.items-center.text-gray-600.mb-2
            span.w-4.h-4.mr-2.inline-flex.items-center.justify-center.bg-gray-500.text-white.rounded-full.flex-shrink-0
              svg.w-3.h-3(fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2.5' viewbox='0 0 24 24')
                path(d='M20 6L9 17l-5-5')
            | Vexillologist pitchfork
          p.flex.items-center.text-gray-600.mb-6
            span.w-4.h-4.mr-2.inline-flex.items-center.justify-center.bg-gray-500.text-white.rounded-full.flex-shrink-0
              svg.w-3.h-3(fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2.5' viewbox='0 0 24 24')
                path(d='M20 6L9 17l-5-5')
            | Mixtape chillwave tumeric
          button.flex.items-center.mt-auto.text-white.bg-gray-500.border-0.py-2.px-4.w-full.rounded(class='focus:outline-none hover:bg-gray-600')
            | Button
            svg.w-4.h-4.ml-auto(fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' viewbox='0 0 24 24')
              path(d='M5 12h14M12 5l7 7-7 7')
          p.text-xs.text-gray-500.mt-3 Literally you probably haven&apos;t heard of them jean shorts.
      .p-4.w-full(class='xl:w-1/4 md:w-1/2')
        .h-full.p-6.rounded-lg.border-2.border-gray-300.flex.flex-col.relative.overflow-hidden
          h2.text-sm.tracking-widest.title-font.mb-1.font-medium SPECIAL
          h1.text-5xl.text-gray-900.leading-none.flex.items-center.pb-4.mb-4.border-b.border-gray-200
            span $72
            span.text-lg.ml-1.font-normal.text-gray-500 /mo
          p.flex.items-center.text-gray-600.mb-2
            span.w-4.h-4.mr-2.inline-flex.items-center.justify-center.bg-gray-500.text-white.rounded-full.flex-shrink-0
              svg.w-3.h-3(fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2.5' viewbox='0 0 24 24')
                path(d='M20 6L9 17l-5-5')
            | Vexillologist pitchfork
          p.flex.items-center.text-gray-600.mb-2
            span.w-4.h-4.mr-2.inline-flex.items-center.justify-center.bg-gray-500.text-white.rounded-full.flex-shrink-0
              svg.w-3.h-3(fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2.5' viewbox='0 0 24 24')
                path(d='M20 6L9 17l-5-5')
            | Tumeric plaid portland
          p.flex.items-center.text-gray-600.mb-2
            span.w-4.h-4.mr-2.inline-flex.items-center.justify-center.bg-gray-500.text-white.rounded-full.flex-shrink-0
              svg.w-3.h-3(fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2.5' viewbox='0 0 24 24')
                path(d='M20 6L9 17l-5-5')
            | Hexagon neutra unicorn
          p.flex.items-center.text-gray-600.mb-2
            span.w-4.h-4.mr-2.inline-flex.items-center.justify-center.bg-gray-500.text-white.rounded-full.flex-shrink-0
              svg.w-3.h-3(fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2.5' viewbox='0 0 24 24')
                path(d='M20 6L9 17l-5-5')
            | Vexillologist pitchfork
          p.flex.items-center.text-gray-600.mb-6
            span.w-4.h-4.mr-2.inline-flex.items-center.justify-center.bg-gray-500.text-white.rounded-full.flex-shrink-0
              svg.w-3.h-3(fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2.5' viewbox='0 0 24 24')
                path(d='M20 6L9 17l-5-5')
            | Mixtape chillwave tumeric
          button.flex.items-center.mt-auto.text-white.bg-gray-500.border-0.py-2.px-4.w-full.rounded(class='focus:outline-none hover:bg-gray-600')
            | Button
            svg.w-4.h-4.ml-auto(fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' viewbox='0 0 24 24')
              path(d='M5 12h14M12 5l7 7-7 7')
          p.text-xs.text-gray-500.mt-3 Literally you probably haven&apos;t heard of them jean shorts.

