section.text-gray-700.body-font
  .container.px-5.py-24.mx-auto
    .flex.flex-wrap.-m-4.text-center
      .p-4(class='sm:w-1/4 w-1/2')
        h2.title-font.font-medium.text-3xl.text-gray-900(class='sm:text-4xl') 2.7K
        p.leading-relaxed Users
      .p-4(class='sm:w-1/4 w-1/2')
        h2.title-font.font-medium.text-3xl.text-gray-900(class='sm:text-4xl') 1.8K
        p.leading-relaxed Subscribes
      .p-4(class='sm:w-1/4 w-1/2')
        h2.title-font.font-medium.text-3xl.text-gray-900(class='sm:text-4xl') 35
        p.leading-relaxed Downloads
      .p-4(class='sm:w-1/4 w-1/2')
        h2.title-font.font-medium.text-3xl.text-gray-900(class='sm:text-4xl') 4
        p.leading-relaxed Products
